@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header */

/* Navbar */
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: lightslategrey;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: lightslategrey;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/* Footer */
footer {
    display: flex;
    height: 80px;
    width: 100%;
    background: lightslategrey;
    align-items: center;
    justify-content: center;
    /*padding: 0 50px 0 100px;*/
    flex-wrap: wrap;
    bottom: 0;
}

footer a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #b7c1c3;
}

/* Section */
.section {
    margin: 10px 80px;
    margin-top: 30px;
}

/* Article */
.section .rticle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.section .article .left img {
    height: 300px;
    max-width: 500px;
}

.section .article .right {
    margin-left: 40px;
    max-width: 50%;
}

.section .article .right p.sur-titre {
    color: #7f7e7e;
}

.section .article .right p.description {
    color: #2d2d2d;
}

table > tr > th,
table > tr > td,
table > * > tr > th,
table > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

table {
    color: #202122;
    border-collapse: collapse;
    font-size: 85%;
    width: 100%;
    text-align: center;
}

/* Responsive */
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media screen and (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: lightslategrey;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked ~ ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #b7c1c3;
    }

    .section {
        margin: 10px 20px;
    }

    .section .article .left img {
        height: 100%;
        width: 100%;
    }

    .section .article .right {
        margin: 0px;
        max-width: 100%;
    }
}
